.icon-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.icon-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
}

.winter {
  background-color: rgb(47, 48, 122);
}

.season-display.winter i {
  color: silver;
}

.summer {
  background-color: orange;
}

.season-display.summer i {
  color: red;
}

.spring {
  background-color: greenyellow;
}

.season-display.spring i {
  color: plum;
}

.fall {
  background-color: orangered;
}

.season-display.fall i {
  color: goldenrod;
}
